In [1]:
import pandas as pd
import json
import requests
import urllib

In [2]:
endpoint = 'https://api.twitter.com/2/tweets/search/recent'
bt = pd.read_csv('Twitter_Token_9-22.txt', header = 0)

In [3]:
header = {'Authorization': 'Bearer {}'.format(bt['Bearer_Token'][0])}

In [4]:
query_text = '(mls OR (major leage soccer)) (playoff OR tournament OR playoffs OR cup OR shield) lang:en -is:retweet'
query_encoded = urllib.parse.quote(query_text)
tweet_fields = 'lang,public_metrics,author_id'

In [5]:
query_url = endpoint + '?query={}&tweet.fields={}'.format(query_encoded, tweet_fields)

In [6]:
response = requests.get(query_url, headers = header)

In [7]:
response.status_code

200

In [8]:
response.text

'{"data":[{"id":"1582390136775794690","lang":"en","public_metrics":{"retweet_count":0,"reply_count":0,"like_count":0,"quote_count":0},"text":"@kbert123 @TaylorTwellman @CitiField @yankeestadium @MLS Playing surface vs stadium? \\nI am not aware of any team in first division top 5 league that doesnt play in a stadium minimally designed for soccer matches. \\nWe wouldn\'t expect a basketball or football playoff game to occur on stadium like this. \\nWe should raise the bar here. Imo","edit_history_tweet_ids":["1582390136775794690"],"author_id":"700669270389190662"},{"id":"1582390012036849665","lang":"en","public_metrics":{"retweet_count":0,"reply_count":0,"like_count":0,"quote_count":0},"text":"While the expansion team just made the MLS playoffs in only its second year, its off-field approach provides a handy blueprint for entrepreneurial success. @jeff_haden https://t.co/UyJqljLAXz","edit_history_tweet_ids":["1582390012036849665"],"author_id":"2184499256"},{"id":"1582389808806383616","lang":"en","public_metrics":{"retweet_count":0,"reply_count":0,"like_count":0,"quote_count":0},"text":"Dallas advanced past Minnesota 5-4 on penalty kicks after a 1-1 draw in the MLS playoffs. https://t.co/EKe3bZuT05","edit_history_tweet_ids":["1582389808806383616"],"author_id":"16318652"},{"id":"1582389437723729920","lang":"en","public_metrics":{"retweet_count":0,"reply_count":0,"like_count":0,"quote_count":0},"text":"\\uD83D\\uDCE3 New Podcast! \\"Soccer Down Here 10/18: Tuesday Thoughts on MLS Playoffs And The World\\" on @Spreaker #ballondor #majorleaguesoccer #mls #playoffs #soccer #sports #sportstalk https://t.co/ORtNgO7OWk","edit_history_tweet_ids":["1582389437723729920"],"author_id":"799707487888809984"},{"id":"1582389377153761281","lang":"en","public_metrics":{"retweet_count":0,"reply_count":0,"like_count":1,"quote_count":0},"text":"@benwright @ChrisIvey865 Is it possible to move on from Ake Loba and improve the roster up front to support Hany up top? \\n\\nThe core of the team is old. Our window is  closing with the current stars we have now. \\n\\nWe need additional goal scoring up front if we have a chance at MLS Cup.","edit_history_tweet_ids":["1582389377153761281"],"author_id":"1091043979"},{"id":"1582388602255732736","lang":"en","public_metrics":{"retweet_count":0,"reply_count":0,"like_count":0,"quote_count":0},"text":"MLS Cup playoffs Round One preview and predictions https://t.co/hP1o3sCHZY","edit_history_tweet_ids":["1582388602255732736"],"author_id":"1090294751239331841"},{"id":"1582388208062459905","lang":"en","public_metrics":{"retweet_count":1,"reply_count":1,"like_count":0,"quote_count":0},"text":"https://t.co/09mc1n3xjv\\n\\nShowbuzz Daily Sunday Top 150\\nMLS Playoffs\\n\\n-ABC/ESPN Deportes \\nAustin v Real Salt Lake 487,000 \\n\\n-ESPN ESPN Deportes \\n#46 Montreal v Orlando 218,000","edit_history_tweet_ids":["1582388208062459905"],"author_id":"909429377536012289"},{"id":"1582387439859306496","lang":"en","public_metrics":{"retweet_count":0,"reply_count":1,"like_count":0,"quote_count":0},"text":"@HelltownBeer MLS had playoff games on a Friday night and they were not even on a English language channel?","edit_history_tweet_ids":["1582387439859306496"],"author_id":"600626571"},{"id":"1582386890086703106","lang":"en","public_metrics":{"retweet_count":1,"reply_count":2,"like_count":1,"quote_count":0},"text":"The 8 PM MLS Playoff game on ESPN 173k (Montreal/Orland). Friday\'s playoff games weren\'t on Eng-lang TV. On TUDN Galaxy v Nash 118k. NYRB v Cincy didn\'t finish in the top 150.","edit_history_tweet_ids":["1582386890086703106"],"author_id":"310796195"},{"id":"1582386557503225856","lang":"en","public_metrics":{"retweet_count":0,"reply_count":0,"like_count":0,"quote_count":0},"text":"Eastern and Western Conference Semifinals Set in Audi 2022 MLS Cup\xa0Playoffs https://t.co/PiBImnhOhp","edit_history_tweet_ids":["1582386557503225856"],"author_id":"1530290376560496642"}],"meta":{"newest_id":"1582390136775794690","oldest_id":"1582386557503225856","result_count":10,"next_token":"b26v89c19zqg8o3fpzeka86mfal3e7kulix5kzskyyfst"}}'

In [9]:
response_dict = json.loads(response.text)

In [10]:
response_dict.keys()

dict_keys(['data', 'meta'])

In [11]:
type(response_dict['data'])

list

In [12]:
type(response_dict['data'][0])

dict

In [13]:
response_dict['data'][0].keys()

dict_keys(['id', 'lang', 'public_metrics', 'text', 'edit_history_tweet_ids', 'author_id'])

In [14]:
response_dict['data'][0]['text']

"@kbert123 @TaylorTwellman @CitiField @yankeestadium @MLS Playing surface vs stadium? \nI am not aware of any team in first division top 5 league that doesnt play in a stadium minimally designed for soccer matches. \nWe wouldn't expect a basketball or football playoff game to occur on stadium like this. \nWe should raise the bar here. Imo"

In [15]:
type(response_dict['data'][0]['public_metrics'])

dict

In [16]:
response_dict['data'][0]['public_metrics'].keys()

dict_keys(['retweet_count', 'reply_count', 'like_count', 'quote_count'])

In [17]:
response_dict['data'][0]['public_metrics']['like_count']

0

In [18]:
response_dict['data'][4]['id']

'1582389377153761281'

In [19]:
response_df = pd.DataFrame(response_dict['data'])
response_df2 = response_df

In [20]:
response_df.head()

,id,lang,public_metrics,text,edit_history_tweet_ids,author_id
0,1582390136775794690,en,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",@kbert123 @TaylorTwellman @CitiField @yankeest...,[1582390136775794690],700669270389190662
1,1582390012036849665,en,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",While the expansion team just made the MLS pla...,[1582390012036849665],2184499256
2,1582389808806383616,en,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",Dallas advanced past Minnesota 5-4 on penalty ...,[1582389808806383616],16318652
3,1582389437723729920,en,"{'retweet_count': 0, 'reply_count': 0, 'like_c...","ðŸ“£ New Podcast! ""Soccer Down Here 10/18: Tuesda...",[1582389437723729920],799707487888809984
4,1582389377153761281,en,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",@benwright @ChrisIvey865 Is it possible to mov...,[1582389377153761281],1091043979

In [21]:
public_metrics_df = pd.DataFrame(list(response_df['public_metrics']))

In [22]:
public_metrics_df

   retweet_count  reply_count  like_count  quote_count
0              0            0           0            0
1              0            0           0            0
2              0            0           0            0
3              0            0           0            0
4              0            0           1            0
5              0            0           0            0
6              1            1           0            0
7              0            1           0            0
8              1            2           1            0
9              0            0           0            0

In [23]:
response_df['retweets'] = public_metrics_df['retweet_count']
response_df['replies'] = public_metrics_df['reply_count']
response_df['likes'] = public_metrics_df['like_count']
response_df['quotes'] = public_metrics_df['quote_count']

In [24]:
response_df.head()

,id,lang,public_metrics,text,edit_history_tweet_ids,author_id,retweets,replies,likes,quotes
0,1582390136775794690,en,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",@kbert123 @TaylorTwellman @CitiField @yankeest...,[1582390136775794690],700669270389190662,0,0,0,0
1,1582390012036849665,en,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",While the expansion team just made the MLS pla...,[1582390012036849665],2184499256,0,0,0,0
2,1582389808806383616,en,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",Dallas advanced past Minnesota 5-4 on penalty ...,[1582389808806383616],16318652,0,0,0,0
3,1582389437723729920,en,"{'retweet_count': 0, 'reply_count': 0, 'like_c...","ðŸ“£ New Podcast! ""Soccer Down Here 10/18: Tuesda...",[1582389437723729920],799707487888809984,0,0,0,0
4,1582389377153761281,en,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",@benwright @ChrisIvey865 Is it possible to mov...,[1582389377153761281],1091043979,0,0,1,0

In [25]:
response_df2 = response_df2.join(public_metrics_df)

In [26]:
response_df2.head()

,id,lang,public_metrics,text,edit_history_tweet_ids,author_id,retweets,replies,likes,quotes,retweet_count,reply_count,like_count,quote_count
0,1582390136775794690,en,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",@kbert123 @TaylorTwellman @CitiField @yankeest...,[1582390136775794690],700669270389190662,0,0,0,0,0,0,0,0
1,1582390012036849665,en,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",While the expansion team just made the MLS pla...,[1582390012036849665],2184499256,0,0,0,0,0,0,0,0
2,1582389808806383616,en,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",Dallas advanced past Minnesota 5-4 on penalty ...,[1582389808806383616],16318652,0,0,0,0,0,0,0,0
3,1582389437723729920,en,"{'retweet_count': 0, 'reply_count': 0, 'like_c...","ðŸ“£ New Podcast! ""Soccer Down Here 10/18: Tuesda...",[1582389437723729920],799707487888809984,0,0,0,0,0,0,0,0
4,1582389377153761281,en,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",@benwright @ChrisIvey865 Is it possible to mov...,[1582389377153761281],1091043979,0,0,1,0,0,0,1,0

In [29]:
response_dict['meta']['next_token']

'b26v89c19zqg8o3fpzeka86mfal3e7kulix5kzskyyfst'

In [32]:
next_query_url = query_url + "&next_token={}".format(response_dict['meta']['next_token'])

In [33]:
next_response = requests.get(next_query_url, headers = header)

In [34]:
next_response.status_code

200

In [ ]:
next_response.text

In [38]:
next_response_dict = json.loads(next_response.text)

In [39]:
next_response_dict['meta']

{'newest_id': '1582386527664951304',
 'oldest_id': '1582386342641557505',
 'result_count': 10,
 'next_token': 'b26v89c19zqg8o3fpzeka86mfa5p8n4wm75g3yybfqu0t'}

In [6]:
def twt_recent_search (query, num_pages, header):
    response_list = []
    next_token = ''
    for i in range(0, num_pages):
        if i > 0:
            this_query = query + "&next_token={}".format(next_token)
        else:
            this_query = query
        
        this_response = requests.get(this_query, headers = header)
        print(this_response.status_code)
        this_response_dict = json.loads(this_response.text)
        response_list.append(this_response_dict)
        next_token = this_response_dict['meta']['next_token']
        
    return response_list

In [7]:
my_responses = twt_recent_search(query_url, 10, header)

In [8]:
results_1 = pd.DataFrame.from_records(my_responses)

In [9]:
data_list = list(results_1['data'])

In [10]:
data_list_of_dfs = [pd.DataFrame(x) for x in data_list]

In [11]:
data_df = pd.concat(data_list_of_dfs)

In [13]:
data_df.head()

,edit_history_tweet_ids,author_id,text,public_metrics,id,lang
0,[1582767070436917248],2300501173,#Best of the day on https://t.co/2a7ToDGERh\nW...,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1582767070436917248,en
1,[1582767010491965441],634241340,@Beelzebubs_la @Samoabob @bwm121 Nah: i alread...,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1582767010491965441,en
2,[1582766976019369984],2338348428,What's #Best on https://t.co/ZQiMKSXMzq ?\nWas...,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1582766976019369984,en
3,[1582766222277750784],21568108,Game Day Hub: NYCFC host Inter Miami in the 20...,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1582766222277750784,en
4,[1582766212026888195],21568108,Set pieces are key for NYCFCâ€™s playoff run htt...,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1582766212026888195,en

In [14]:
len(data_df.index)

100