In [1]:
import pandas as pd
import json
import requests
import urllib

In [5]:
endpoint = 'https://api.twitter.com/2/tweets/search/recent'
bt = pd.read_csv('Twitter_Token_9-22.txt', header = 0)

In [8]:
header = {'Authorization': 'Bearer {}'.format(bt['Bearer_Token'][0])}

In [15]:
query_text = '(mls OR (major leage soccer)) (playoff OR tournament OR playoffs OR cup OR shield) lang:en -is:retweet'
query_encoded = urllib.parse.quote(query_text)
tweet_fields = 'lang,public_metrics,author_id'

In [16]:
query_url = endpoint + '?query={}&tweet.fields={}'.format(query_encoded, tweet_fields)

In [17]:
response = requests.get(query_url, headers = header)

In [18]:
response.status_code

200

In [19]:
response.text

'{"data":[{"lang":"en","author_id":"1317070333925609473","public_metrics":{"retweet_count":5,"reply_count":0,"like_count":0,"quote_count":0},"text":"RT @FootballRamble: Inter Miami reached the MLS playoffs last night... https://t.co/UQq7Wko7hh","edit_history_tweet_ids":["1578047866513379329"],"id":"1578047866513379329"},{"lang":"en","author_id":"4161131834","public_metrics":{"retweet_count":0,"reply_count":0,"like_count":0,"quote_count":0},"text":"@ManagerTactical MLS is a great option for him before the World Cup or Swiss league","edit_history_tweet_ids":["1578047049739554816"],"id":"1578047049739554816"},{"lang":"en","author_id":"191068541","public_metrics":{"retweet_count":5,"reply_count":0,"like_count":0,"quote_count":0},"text":"RT @FootballRamble: Inter Miami reached the MLS playoffs last night... https://t.co/UQq7Wko7hh","edit_history_tweet_ids":["1578046931493916673"],"id":"1578046931493916673"},{"lang":"en","author_id":"904749553072488449","public_metrics":{"retweet_count":0,"reply_count":0,"like_count":1,"quote_count":0},"text":"The four western conference @MLS teams that have neither clinched playoffs or been eliminated are all playing each other at the same time on Sunday. This is gonna be WILD. #RCTID","edit_history_tweet_ids":["1578045802144227329"],"id":"1578045802144227329"},{"lang":"en","author_id":"24139062","public_metrics":{"retweet_count":0,"reply_count":0,"like_count":0,"quote_count":0},"text":"All good now you can concentrate on never winning an mls cup https://t.co/fLr2dOFTV1","edit_history_tweet_ids":["1578045358969454592"],"id":"1578045358969454592"},{"lang":"en","author_id":"30762549","public_metrics":{"retweet_count":0,"reply_count":0,"like_count":3,"quote_count":0},"text":"Look at what I finally put up in my office! Ready for the MLS Playoffs! @NSCRoadies @NashvilleSC @WesBolingTN @RuffinJD #EveryoneN https://t.co/EKN35WhNxn","edit_history_tweet_ids":["1578045333040517121"],"id":"1578045333040517121"},{"lang":"en","author_id":"34743442","public_metrics":{"retweet_count":0,"reply_count":0,"like_count":2,"quote_count":0},"text":"@NewYorkRedBulls @MLS Awesome. Now sign some new talented players so the playoffs aren\'t one and done, again. #RBNY","edit_history_tweet_ids":["1578045322747691015"],"id":"1578045322747691015"},{"lang":"en","author_id":"2903191432","public_metrics":{"retweet_count":0,"reply_count":0,"like_count":2,"quote_count":0},"text":"@Laf4MVP It\'s MLS Playoffs SZN!\\n#TheRedBull https://t.co/0dbnTJdPlQ","edit_history_tweet_ids":["1578044940575297536"],"id":"1578044940575297536"},{"lang":"en","author_id":"2744716047","public_metrics":{"retweet_count":11,"reply_count":0,"like_count":0,"quote_count":0},"text":"RT @FOXSoccer: Only 4️⃣ spots remain in @MLS playoffs \\uD83D\\uDD25 \\n\\nWho will clinch a playoff berth next? https://t.co/li7QxJ18hG","edit_history_tweet_ids":["1578043436158144517"],"id":"1578043436158144517"},{"lang":"en","author_id":"25619967","public_metrics":{"retweet_count":0,"reply_count":0,"like_count":0,"quote_count":0},"text":"@SociosUSA @MLS @LAFC v Nashville. Supporters shield day and Walker Zimmermans return to the banc","edit_history_tweet_ids":["1578043434345955328"],"id":"1578043434345955328"}],"meta":{"newest_id":"1578047866513379329","oldest_id":"1578043434345955328","result_count":10,"next_token":"b26v89c19zqg8o3fpzbn13dp55a76z2mc0itdbe7ym3ct"}}'

In [23]:
response_dict = json.loads(response.text)

In [25]:
response_dict.keys()

dict_keys(['data', 'meta'])

In [27]:
type(response_dict['data'])

list

In [28]:
type(response_dict['data'][0])

dict

In [29]:
response_dict['data'][0].keys()

dict_keys(['lang', 'author_id', 'public_metrics', 'text', 'edit_history_tweet_ids', 'id'])

In [31]:
response_dict['data'][0]['text']

'RT @FootballRamble: Inter Miami reached the MLS playoffs last night... https://t.co/UQq7Wko7hh'

In [33]:
type(response_dict['data'][0]['public_metrics'])

dict

In [34]:
response_dict['data'][0]['public_metrics'].keys()

dict_keys(['retweet_count', 'reply_count', 'like_count', 'quote_count'])

In [35]:
response_dict['data'][0]['public_metrics']['like_count']

0

In [36]:
response_dict['data'][4]['id']

'1578045358969454592'

In [55]:
response_df = pd.DataFrame(response_dict['data'])
response_df2 = response_df

In [59]:
response_df.head()

,lang,author_id,public_metrics,text,edit_history_tweet_ids,id
0,en,1317070333925609473,"{'retweet_count': 5, 'reply_count': 0, 'like_c...",RT @FootballRamble: Inter Miami reached the ML...,[1578047866513379329],1578047866513379329
1,en,4161131834,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",@ManagerTactical MLS is a great option for him...,[1578047049739554816],1578047049739554816
2,en,191068541,"{'retweet_count': 5, 'reply_count': 0, 'like_c...",RT @FootballRamble: Inter Miami reached the ML...,[1578046931493916673],1578046931493916673
3,en,904749553072488449,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",The four western conference @MLS teams that ha...,[1578045802144227329],1578045802144227329
4,en,24139062,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",All good now you can concentrate on never winn...,[1578045358969454592],1578045358969454592

In [60]:
public_metrics_df = pd.DataFrame(list(response_df['public_metrics']))

In [61]:
public_metrics_df

   retweet_count  reply_count  like_count  quote_count
0              5            0           0            0
1              0            0           0            0
2              5            0           0            0
3              0            0           1            0
4              0            0           0            0
5              0            0           3            0
6              0            0           2            0
7              0            0           2            0
8             11            0           0            0
9              0            0           0            0

In [62]:
response_df['retweets'] = public_metrics_df['retweet_count']
response_df['replies'] = public_metrics_df['reply_count']
response_df['likes'] = public_metrics_df['like_count']
response_df['quotes'] = public_metrics_df['quote_count']

In [63]:
response_df.head()

,lang,author_id,public_metrics,text,edit_history_tweet_ids,id,retweets,replies,likes,quotes
0,en,1317070333925609473,"{'retweet_count': 5, 'reply_count': 0, 'like_c...",RT @FootballRamble: Inter Miami reached the ML...,[1578047866513379329],1578047866513379329,5,0,0,0
1,en,4161131834,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",@ManagerTactical MLS is a great option for him...,[1578047049739554816],1578047049739554816,0,0,0,0
2,en,191068541,"{'retweet_count': 5, 'reply_count': 0, 'like_c...",RT @FootballRamble: Inter Miami reached the ML...,[1578046931493916673],1578046931493916673,5,0,0,0
3,en,904749553072488449,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",The four western conference @MLS teams that ha...,[1578045802144227329],1578045802144227329,0,0,1,0
4,en,24139062,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",All good now you can concentrate on never winn...,[1578045358969454592],1578045358969454592,0,0,0,0

In [65]:
response_df2 = response_df2.join(public_metrics_df)

In [67]:
response_df2.head()

,lang,author_id,public_metrics,text,edit_history_tweet_ids,id,retweets,replies,likes,quotes,retweet_count,reply_count,like_count,quote_count
0,en,1317070333925609473,"{'retweet_count': 5, 'reply_count': 0, 'like_c...",RT @FootballRamble: Inter Miami reached the ML...,[1578047866513379329],1578047866513379329,5,0,0,0,5,0,0,0
1,en,4161131834,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",@ManagerTactical MLS is a great option for him...,[1578047049739554816],1578047049739554816,0,0,0,0,0,0,0,0
2,en,191068541,"{'retweet_count': 5, 'reply_count': 0, 'like_c...",RT @FootballRamble: Inter Miami reached the ML...,[1578046931493916673],1578046931493916673,5,0,0,0,5,0,0,0
3,en,904749553072488449,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",The four western conference @MLS teams that ha...,[1578045802144227329],1578045802144227329,0,0,1,0,0,0,1,0
4,en,24139062,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",All good now you can concentrate on never winn...,[1578045358969454592],1578045358969454592,0,0,0,0,0,0,0,0