In [1]:
import pandas as pd
import json

In [2]:
with open(r"C:\Users\dsilva2\EMAT22110_FA22\facebook-davidsilva100046_full\comments_and_reactions\posts_and_comments.json") as j:
    posts_and_comments = json.load(j)

In [3]:
posts_and_comments_df = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6], 'c': [7, 8, 9]})

In [4]:
posts_and_comments_df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [5]:
posts_and_comments_df2 = pd.DataFrame([{'a': 1, 'b': 4, 'c':7}, {'a': 2, 'b':5, 'c':8}, {'a': 3, 'b': 6, 'c':9}])

In [6]:
posts_and_comments_df2

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [ ]:
posts_and_comments

In [8]:
test1 = pd.DataFrame(posts_and_comments)

In [9]:
test1.head()

                                        reactions_v2
0  {'timestamp': 1253148596, 'data': [{'reaction'...
1  {'timestamp': 1255727692, 'data': [{'reaction'...
2  {'timestamp': 1255810172, 'data': [{'reaction'...
3  {'timestamp': 1256162033, 'data': [{'reaction'...
4  {'timestamp': 1258578394, 'data': [{'reaction'...

In [10]:
test2 = pd.DataFrame(posts_and_comments['reactions_v2'])

In [11]:
test2.head()

,timestamp,data,title
0,1253148596,"[{'reaction': {'reaction': 'LIKE', 'actor': 'D...",David Silva likes Ashlee Boban's post.
1,1255727692,"[{'reaction': {'reaction': 'LIKE', 'actor': 'D...",David Silva likes PUMA's post.
2,1255810172,"[{'reaction': {'reaction': 'LIKE', 'actor': 'D...",David Silva likes Scott Pence's post.
3,1256162033,"[{'reaction': {'reaction': 'LIKE', 'actor': 'D...",David Silva likes Chelsea Football Club's post.
4,1258578394,"[{'reaction': {'reaction': 'LIKE', 'actor': 'D...",David Silva likes Bruno Arama's post.